<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class='d-inline-block'>
      <%= render 'layouts/messages' %>  
    </div>
  </div>
</div>

<% if @friends %>
  <div class="row justify-content-md-center amarillo">
    <% @friends.each do |friend| %>
      <div class="col-md-10">
        <div class="card card-header d-inline-block" style="background-color: #FFBC42;">
          <strong>Nombre:</strong> <%= friend.full_name %>
          <strong>Email:</strong> <%= friend.email %>
          <strong>Acciones:</strong> <%= link_to "Ver perfil", "#",  class:'btn btn-success' %>
          <%= link_to "Seguir", '#', class:'btn btn-success', method: :post %>  
        </div>
      </div>
    <% end %>
  </div>
<% end %>
